@model CandidateAssessments.Models.Assessment
@using CandidateAssessments.Models

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h2>Create Assessment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Assessment</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CandidateName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CandidateName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CandidateName, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- TODO: add checkboxes here, but when these are passed, we need to create quiz objects to add to the assessment. -->
    @Html.LabelFor(model => model.Quizes)

    @for (var i = 0; i < Model.Topics.Count; i++)
    {
        @Model.Topics[i].Name
        <input type="checkbox" name="Topics" onclick="handleClick(this);" value="@Model.Topics[i].TopicId"/>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<!--
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Assessment</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AccessCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AccessCode" class="form-control" />
                <span asp-validation-for="AccessCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CandidateName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CandidateName" class="form-control" />
                <span asp-validation-for="CandidateName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExpirationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
-->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
