@model CandidateAssessments.Models.Assessment

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>@Model.CandidateName's Assessment</h2>
    <h4>
        @Model.Quizes.Count quizes assigned.
    </h4>
    <hr />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Score</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var quiz in Model.Quizes)
        {
            <tr>
                <td>@Html.DisplayFor(x => quiz.Topic.Name)</td>
                <td>@quiz.NumberCorrect / quiz.NumberOfQuestions</td>
                <td>
                    @if (quiz.TimeCompleted.HasValue)
                    {
                        @* asp action to see quiz results *@
                        <div class="text-success">
                            Results <span class="glyphicon glyphicon-edit"></span>
                        </div>
                    }
                    else
                    {
                        <div class="text-danger">
                            Incomplete <span class="glyphicon glyphicon-remove-circle"></span>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccessCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CandidateName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CandidateName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quizes)
        </dt>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.AssessmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
