@using MarkdownSharp
@{
    Layout = "_TestingLayout";
    Markdown md = new Markdown();
}
@model CandidateAssessments.Models.QuizQuestion

<link rel="stylesheet" href="~/css/vs.css" />

<div class="container-fluid">
    <div class="row">
        <h3 class="cold-md-12 pull-right"><span>Time Remaining: </span><span id="countdown" class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h3>
    </div>
    <form asp-action="Quiz">
        <input type="hidden" name="QuizQuestionId" value="@Model.QuizQuestionId" />
        <div class="form-horizontal">
            <div class="form-group">

                <div class="card">
                    <h3 class="card-header">
                        <span class="cardHeader">@Html.DisplayFor(model => model.Question.Topic.Name) </span><span class="pull-right">Question # @Html.DisplayFor(model => model.QuestionNumber)</span>
                    </h3>
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p class="card-text">@Html.Raw(md.Transform(Model.Question.QuestionText))</p>
                            <div class="list-group">
                                @if (Model.Question.QuestionType == CandidateAssessments.Models.QuestionTypes.MultipleChoice)
                                {
                                    <label class="container-fluid list-group-item" for="radio-1">
                                        <input type="radio" class="quiz-radio" name="Answer" value="A" id="radio-1" />
                                        <span class="question_label">A) </span><span class="col-md-9 question_text">@Html.Raw(md.Transform(Model.Question.ChoiceA))</span>
                                    </label>
                                    <label class="container-fluid list-group-item" for="radio-2">
                                        <input type="radio" class="quiz-radio" name="Answer" value="B" id="radio-2" />
                                        <span class="question_label">B) </span><span class="col-md-9 question_text">@Html.Raw(md.Transform(Model.Question.ChoiceB))</span>
                                    </label>
                                    <label class="container-fluid list-group-item" for="radio-3">
                                        <input type="radio" class="quiz-radio" name="Answer" value="C" id="radio-3" />
                                        <span class="question_label">C) </span><span class="col-md-9 question_text">@Html.Raw(md.Transform(Model.Question.ChoiceC))</span>
                                    </label>
                                    <label class="container-fluid list-group-item" for="radio-4">
                                        <input type="radio" class="quiz-radio" name="Answer" value="D" id="radio-4" />
                                        <span class="question_label">D) </span><span class="col-md-9 question_text">@Html.Raw(md.Transform(Model.Question.ChoiceD))</span>
                                    </label>
                                }
                                else if (Model.Question.QuestionType == CandidateAssessments.Models.QuestionTypes.TrueFalse)
                                {

                                    <label class="container-fluid list-group-item" for="radio-1">
                                        <input type="radio" class="quiz-radio" name="Answer" value="T" id="radio-1" />
                                        <span class="question_label"></span><span class="col-md-9 question_text">True</span>
                                    </label>
                                    <label class="container-fluid list-group-item" for="radio-2">
                                        <input type="radio" class="quiz-radio" name="Answer" value="F" id="radio-2" />
                                        <span class="question_label"></span><span class="col-md-9 question_text">False</span>
                                    </label>
                                }
                                else if (Model.Question.QuestionType == CandidateAssessments.Models.QuestionTypes.Essay)
                                {

                                    <textarea class="container-fluid form-control" id="fillin" name="Answer"  rows="20" type="text" ></textarea>

                                }
                                else
                                {
                                    <input class="container-fluid form-control" id="fillin" name="Answer" type="text" />

                                }
                            </div>
                        </blockquote>
                    </div>
                    <div class="dl-horizontal card-footer">
                        <span class="col-lg-1">
                            &nbsp;
                        </span>
                        <span class="col-lg-offset-10 col-lg-1">
                            <input type="submit" display="inline-block" id="AnswerSubmit" class="btn btn-default hidden" value='@(Model.NextQuestionId == 0 ? "Done" : "Next")' />
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/lib/highlight/highlight.pack.js"></script>
<script>
    $(document).ready(function () {
        $('code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        startTimer(@ViewBag.TimeRemaining, document.querySelector('#countdown'), '/Testing/Quiz/@Model.QuizId');
    });
</script>