@model IEnumerable<CandidateAssessments.Models.Topic>
<!--
    Navbar for Search and CreateNew
-->



<nav class="navbar navbar-full navbar-default" id="pageNav">
    <div class="container-fluid">
        @if (ViewBag.inactive)
        {
            <div class="col-xs-2">
                <span class="navbar-brand navbar-brand-custom">Inactive Topics</span>
            </div>
            <div class="col-md-2 navbar-btn">
                <a href="/Topic/" class="btn btn-primary">View Active Topics</a>
               
            </div>
        }
        else
        {
            <div class="col-xs-2">
                <span class="navbar-brand navbar-brand-custom">Active Topics</span>
            </div>
            <div class="col-xs-2 navbar-btn">
         
                <a href="/Topic/?inactive=true" class="btn btn-primary">View Inactive Topics</a>
            </div>

        }

        <div class="col-xs-2 pull-right">
            <form class="nav navbar-btn navbar-right" method="get" asp-action="Create" asp-route-id="@ViewBag.TopicId">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Create New</button>
            </form>
        </div>
    </div>
</nav>

@{ IEnumerable<dynamic> qs = ViewBag.Questions;}
<div class="card-deck-wrapper">
    <div class="card-deck">
        @{


            foreach (var item in Model)
            {
                @if (qs.Where(x => x.TopicId == item.TopicId).Count() == 0)
                {

                    <form method="post" action="/Topic/Delete/@item.TopicId">
                        @Html.AntiForgeryToken()


                        <div class="row TopicItems">
                            <div class="topic col-xs-4 col-xs-offset-4 ">
                                <a class="TopicLink" href="/TopicQuestions/?TopicId=@item.TopicId">
                                    <div class="card topic-card">
                                        <h3 class="card-header row topicHeader">
                                            <label for="thisSubmit @item.TopicId" class="btn btn-danger pull-left hoverBtn col-md-2"><span class="glyphicon glyphicon-remove"></span></label>
                                            <input id="thisSubmit @item.TopicId" type="submit" class="hidden" />
                                            <span class="text-center col-md-6 col-md-offset-1">@Html.DisplayFor(modelItem => item.Name)</span><span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                        </h3>

                                        <div class="card-block">
                                            <blockquote class="card-blockquote">
                                                <p class="card-text text-center">@qs.Where(x => x.TopicId == item.TopicId).Count() Questions</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </a>
                            </div>


                        </div>

                    </form>
                }
                else
                {
                    @if (!ViewBag.inactive)
                    {
                        <form method="post" action="/Topic/inactive/@item.TopicId">
                            @Html.AntiForgeryToken()


                            <div class="row TopicItems">
                                <div class="topic col-xs-4 col-xs-offset-4 ">
                                    <a class="TopicLink" href="/TopicQuestions/?TopicId=@item.TopicId">
                                        <div class="card topic-card">
                                            <h3 class="card-header row topicHeader">
                                                <label for="mySubmit @item.TopicId" class="btn btn-warning pull-left col-md-2 hoverBtn"><span class="glyphicon glyphicon-ban-circle"></span></label>
                                                <input id="mySubmit @item.TopicId" type="submit" class="hidden" />
                                                <span class="text-center col-md-6 col-md-offset-1">@Html.DisplayFor(modelItem => item.Name)</span><span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                            </h3>

                                            <div class="card-block">
                                                <blockquote class="card-blockquote">
                                                    <p class="card-text text-center">@qs.Where(x => x.TopicId == item.TopicId).Count() Questions</p>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </a>
                                </div>


                            </div>

                        </form>
                    }
                    else
                    {

                        <form method="post" action="/Topic/active/@item.TopicId">
                            @Html.AntiForgeryToken()


                            <div class="row TopicItems">
                                <div class="topic col-xs-4 col-xs-offset-4 ">
                                    <a class="TopicLink" href="/TopicQuestions/?TopicId=@item.TopicId">
                                        <div class="card topic-card">
                                            <h3 class="card-header row topicHeader">
                                                <label for="mySubmit @item.TopicId" class="btn btn-success pull-left col-md-2 hoverBtn"><span class="glyphicon glyphicon-ok"></span></label>
                                                <input id="mySubmit @item.TopicId" type="submit" class="hidden" />
                                                <span class="text-center col-md-6 col-md-offset-1">@Html.DisplayFor(modelItem => item.Name)</span><span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                            </h3>

                                            <div class="card-block">
                                                <blockquote class="card-blockquote">
                                                    <p class="card-text text-center">@qs.Where(x => x.TopicId == item.TopicId).Count() Questions</p>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </a>
                                </div>


                            </div>

                        </form>
                    }
                }
            }
        }
    </div>
</div>

