@using System
@using System.Collections.Generic
@using System.ComponentModel
@using System.Net.Mime
@using System.Threading.Tasks
@model System.Collections.Generic.IEnumerable<CandidateAssessments.Models.TopicQuestion>

@{
    ViewData["Title"] = "Index";
}


<nav class="navbar navbar-full navbar-default" id="pageNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Questions</a>

        <form class="nav navbar-form navbar-nav navbar-right" method="get" asp-action="Create" asp-route-id="@ViewBag.TopicId">
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Create New</button>
        </form>

        <form class="navbar-form navbar-right" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</nav>

<div class="card-deck-wrapper">
    <div class="card-deck row">

        @{
            foreach (var item in Model)
            {
                

                <div class="question col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="card">
                        <h3 class="card-header">
                            <span class="cardHeader">@Html.DisplayFor(modelItem => item.Topic.Name)</span><span class="pull-right">#@Html.DisplayFor(modelItem => item.TopicQuestionId)</span>
                        </h3>
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p class="card-text">@Html.DisplayFor(modelItem => item.QuestionText)</p>
                                <ul class="list-group list-unstyled">
                                    <li class='container-fluid list-group-item @(item.CorrectAnswer == "A" ? "list-group-item-success" : "list-group-item-default")'>
                                        <span class="question_label">A)</span> <span class="col-md-9 question_text">@Html.DisplayFor(modelItem => item.ChoiceA)</span><span class="badge">50%</span>
                                    </li>
                                    <li class='container-fluid list-group-item @(item.CorrectAnswer == "B" ? "list-group-item-success" : "list-group-item-default")'>
                                        <span class="question_label">B)</span> <span class="col-md-9 question_text">@Html.DisplayFor(modelItem => item.ChoiceB)</span><span class="badge">50%</span>
</li>
                                    <li class='container-fluid list-group-item @(item.CorrectAnswer == "C" ? "list-group-item-success" : "list-group-item-default")'>
                                        <span class="question_label">C)</span> <span class="col-md-9 question_text">@Html.DisplayFor(modelItem => item.ChoiceC)</span><span class="badge">50%</span>
</li>
                                    <li class='container-fluid list-group-item @(item.CorrectAnswer == "D" ? "list-group-item-success" : "list-group-item-default")'>
                                        <span class="question_label">D)</span> <span class="col-md-9 question_text">@Html.DisplayFor(modelItem => item.ChoiceD)</span><span class="badge">50%</span>
</li>
                                </ul>
                            </blockquote>
                        </div>
                        <div class="card-footer text-muted">
                            &nbsp; <a class="pull-right" asp-action="Delete" asp-route-id="@item.TopicQuestionId">Delete</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>



<!--
 
<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.QuestionText)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.QuestionType)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CorrectAnswer)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.IsActive)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChoiceA)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChoiceB)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChoiceC)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChoiceD)
    </th>




    <th></th>
</tr>


@foreach (var item in Model)
{
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoiceA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoiceB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoiceC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoiceD)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.TopicQuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TopicQuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TopicQuestionId">Delete</a>
            </td>
        </tr>


        <div>
            <h4>TopicQuestion</h4>
            <hr/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(modelItem => item.QuestionText)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.QuestionType)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.QuestionType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.IsActive)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.CorrectAnswer)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.CorrectAnswer)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.ChoiceA)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.ChoiceA)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.ChoiceB)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.ChoiceB)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.ChoiceC)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.ChoiceC)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.ChoiceD)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.ChoiceD)
                </dd>
            </dl>
        </div>

}
</table> -->
