@model IEnumerable<CandidateAssessments.Models.TopicQuestion>

@{
    ViewData["Title"] = "Index";
}


<nav class="navbar navbar-full navbar-default" id="pageNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Questions</a>

        <form class="nav navbar-form navbar-nav pull-right" method="get" asp-action="Create">
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Create New</button>
        </form>

        <form class="navbar-form pull-right" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</nav>

<div class="jumbotron">
    TEMPLATE ---- TEST CARD TEST CARD TEST CARD TEST CARD ---- TEMPLATE
    <div>
        <span>Q-Topic</span> <span>Q-Num</span> <span class="space"> </span>  <span class="pull-right">Delete</span><span class="pull-right">Edit |&nbsp;</span>
    </div>
    <div>
        This is where the question text will go.
    </div>
    <div>
        A. lkjaldkjsadlaksjdsda
    </div>
    <div>
        B. lkjaldkjsadlaksjdsda
    </div>
    <div>
        C. lkjaldkjsadlaksjdsda
    </div>
    <div>
        D. lkjaldkjsadlaksjdsda
    </div>

</div>

<div class="card-deck-wrapper">
    <div class="card-deck">

        @foreach (var item in Model)
        {
            <div class="card">
                <h3 class="card-header">
                    Topic | Question #
                </h3>
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.QuestionText)</p>
                        <ul>
                            <li>
                                @Html.DisplayFor(modelItem => item.ChoiceA)
                            </li>
                            <li>
                                @Html.DisplayFor(modelItem => item.ChoiceB)
                            </li>
                            <li>
                                @Html.DisplayFor(modelItem => item.ChoiceC)
                            </li>
                            <li>
                                @Html.DisplayFor(modelItem => item.ChoiceD)
                            </li>
                        </ul>
                    </blockquote>
                </div>
                <dl class="dl-horizontal card-footer text-muted">
                    <dt>
                        @Html.DisplayNameFor(modelItem => item.CorrectAnswer)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.CorrectAnswer)
                    </dd>
                </dl>
            </div>
        }
    </div>
</div>



<!-- <table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.QuestionText)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.QuestionType)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CorrectAnswer)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.IsActive)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChoiceA)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChoiceB)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChoiceC)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ChoiceD)
    </th>




    <th></th>
</tr>


@foreach (var item in Model)
{
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoiceA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoiceB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoiceC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoiceD)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.TopicQuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TopicQuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TopicQuestionId">Delete</a>
            </td>
        </tr>


        <div>
            <h4>TopicQuestion</h4>
            <hr/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(modelItem => item.QuestionText)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.QuestionType)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.QuestionType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.IsActive)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.CorrectAnswer)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.CorrectAnswer)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.ChoiceA)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.ChoiceA)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.ChoiceB)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.ChoiceB)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.ChoiceC)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.ChoiceC)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelItem => item.ChoiceD)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.ChoiceD)
                </dd>
            </dl>
        </div>

}
</table> -->
