@using System
@using System.Collections.Generic
@using System.ComponentModel
@using System.Net.Mime
@using System.Threading.Tasks
@model System.Collections.Generic.IEnumerable<CandidateAssessments.Models.TopicQuestion>

@{
    ViewData["Title"] = "Index";
}


<nav class="navbar navbar-full navbar-default" id="pageNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Questions</a>

        <form class="nav navbar-form navbar-nav navbar-right" method="get" asp-action="Create" asp-route-id="@ViewBag.TopicId">
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Create New</button>
        </form>

        <form class="navbar-form navbar-right" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</nav>

<div class="card-deck-wrapper">
    <div class="card-deck row">

        @{
            foreach (var item in Model)
            {
                

                <div class="question col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="card">
                        <h3 class="card-header">
                            <span class="cardHeader">@Html.DisplayFor(modelItem => item.Topic.Name)</span><span class="pull-right">#@Html.DisplayFor(modelItem => item.TopicQuestionId)</span>
                        </h3>
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p class="card-text">@Html.DisplayFor(modelItem => item.QuestionText)</p>
                                <ul class="list-group list-unstyled">
                                    <li class='container-fluid list-group-item @(item.CorrectAnswer == "A" ? "list-group-item-success" : "list-group-item-default")'>
                                        <span class="question_label">A)</span> <span class="col-md-9 question_text">@Html.DisplayFor(modelItem => item.ChoiceA)</span><span class="badge">50%</span>
                                    </li>
                                    <li class='container-fluid list-group-item @(item.CorrectAnswer == "B" ? "list-group-item-success" : "list-group-item-default")'>
                                        <span class="question_label">B)</span> <span class="col-md-9 question_text">@Html.DisplayFor(modelItem => item.ChoiceB)</span><span class="badge">50%</span>
</li>
                                    <li class='container-fluid list-group-item @(item.CorrectAnswer == "C" ? "list-group-item-success" : "list-group-item-default")'>
                                        <span class="question_label">C)</span> <span class="col-md-9 question_text">@Html.DisplayFor(modelItem => item.ChoiceC)</span><span class="badge">50%</span>
</li>
                                    <li class='container-fluid list-group-item @(item.CorrectAnswer == "D" ? "list-group-item-success" : "list-group-item-default")'>
                                        <span class="question_label">D)</span> <span class="col-md-9 question_text">@Html.DisplayFor(modelItem => item.ChoiceD)</span><span class="badge">50%</span>
</li>
                                </ul>
                            </blockquote>
                        </div>
                        <div class="card-footer text-muted">
                            &nbsp; <a class="pull-right" asp-action="Delete" asp-route-id="@item.TopicQuestionId">Delete</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
